HASURA_GRAPHQL_JWT_SECRET_TYPE=HS256
HASURA_GRAPHQL_JWT_SECRET_KEY=3EK6FD+o0+c7tzBNVfjpMkNDi2yARAAKzQlk8O2IKoxQu4nF7EdAh8s3TwpHwrdWT6R
HASURA_GRAPHQL_ADMIN_SECRET=myadminsecret
HASURA_GRAPHQL_ENDPOINT=http://localhost:8080/v1/graphql

IMGUR_UPLOAD_URL=https://api.imgur.com/3/image
IMGUR_ACCESS_TOKEN=4bbee3ca998835ace0d485611164bf7c91fa1f99